body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131313;
    color: #fff;
    font-family: 'Freckle Face', cursive;
    font-size: 3em;
}

#countdown {
    text-align: center;
    background: radial-gradient(circle at center, rgba(104, 63, 234, 0.8), transparent 90%);
    padding: 20px;
    border-radius: 15px;
}
