body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, rgba(49, 28, 87, 0.8) 85%, #131313 100%);
    color: #fff;
    font-family: 'Freckle Face', cursive;
    font-size: 3em;
}

#countdown {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}
