body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('background.png') no-repeat center center fixed; 
    background-size: cover;
    color: #fff;
    font-family: 'Freckle Face', cursive;
    font-size: 3em;
}

#countdown {
    text-align: center;
    padding: 20px;
}
